@import '../../components/Layout/spacing.scss';
@import '../../components/Layout/font-size.scss';
@import '../../components/Layout/palette.scss';

.filter-item-container {
  label {
    font-size: $font-small;
    height: $normal;
    padding-top: $tiny;
  }

  .ant-select {
    min-width: $huge;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select-selection-placeholder,
  .ant-input-group-addon button,
  .ant-picker,
  .ant-input,
  input {
    border-radius: 0;
    background-color: $grey-A100;
    border-color: $grey-A100;
    color: var(--primary-contrast-color);

    .ant-picker-separator,
    .ant-picker-suffix,
    &::placeholder {
      color: var(--primary-contrast-color);
    }

    .ant-picker-clear {
      background-color: $grey-A100;
    }

    &.active-filter,
    &.ant-picker-focused {
      border-color: var(--primary-color);
    }
  }

  .ant-input-group-wrapper.ant-input-search {
    background-color: $grey-A100;

    .ant-input:focus,
    .ant-input:hover {
      border-color: var(--primary-color);
    }
  }
}
